<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <%if (hobbies.length){%>
      <ul>
      <% hobbies.forEach((hobbie,idx) =>{%>
        <li style="display: flex; align-items: center;"><%= hobbie.name%> 
        <form action="/<%= hobbie._id %>?_method=DELETE" method="POST">
        <input style="color: red; width: 30px;" type="submit" value="X">
        </form></li>
        <a href="/detail/<%=hobbie._id%>"> Details </a>
        <%})%>
      </ul>
    <% }else{ %>
      <h1>No hobbie Yet</h1>
      <%};%>
      <div>
        <form action="/" method="POST">
          <input type="text" name="name" placeholder="Enter Hobbie name">
          <input type="text" name="caption" placeholder="enter description">
          <input type="submit" value="Add To Todos">
        </form>


      </div>
  </body>
</html>
